body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f6f6;
}

#container {
    text-align: center;
    color: #fff;
}

.parent, .child, .sibling {
    padding: 20px;
    background-color: #cc2eb4;
    margin: 10px;
}

.parent {
    border: 2px solid #ffffff;
}