body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f6f6;
}

#contentContainer {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
}

#para {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
}