body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f6f6;
}

.continer {
    text-align: center;
}

.highlight {
    color: #e74c3c;
    font-weight: bold;
}